.input__container {
  width: 100%;
  padding: 10px;
}

.input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #69f0ae;
  padding: 10px;
  font-size: 18px;
}

.input::placeholder {
  opacity: .3;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #69f0ae;

}